:root{
    --background: #f5f5f5;
    --background-dark: #fae9e2;
    --color: #f2460dff;
    --color-dark: rgb(177, 52, 10);
    --color-light: rgb(236, 104, 15);
    --text:#292929;
    --white:#ffffff;
    --offwhite:#f3ddc8;
    --radius:5px
}
::selection {
    color: var(--background);
    background: var(--color);
  }
*{
    background-color:var(--background);
    color: var(--text);
    margin: 0;
    padding: 0;
    font-family: 'Work Sans','sans-serif';
    box-sizing: border-box;
}

.logoName{
    text-decoration: none;
    color: var(--color);
    user-select: none;
}
.logo{
    user-select: none;
    padding: 20px;
    display: flex;
    justify-content:end;
    align-items: center;
}
.logo > a >img{
    width: 60px;
}
.card{
    margin-inline: 15px;
    max-width: 65ch;

}

.searchBox{
    display: flex;
    width: 100%;
    margin-top: 30px;
}
.searchBox > input{
    border: none;
    border-radius: var(--radius);
    height: 5ch;
    padding: 15px;
    width: 100%;
    box-shadow: 0 0 0px 02px var(--color);
}
.submitbtn{
    display: flex;
    width: 100%;
    justify-content:end;
}
.submitbtn > input{
    margin: 15px 20px 30px 0px;
    border: none;
    border-radius: var(--radius);
    height: 5ch;
    padding: 15px;
    width: 9cw;
    background-color: var(--color);
    color: var(--white);
    font-weight: 700;
    box-shadow: 0 0 0px 02px var(--color);
    cursor: pointer;
}
.submitbtn > input:hover{
    box-shadow: 0 0 0px 2px var(--color-light);
    background-color: var(--color-light);
    color: var(--white);
}
.submitbtn > input:active{
    box-shadow: 0 0 0px 2px var(--color);
    background-color: var(--color-dark);
    color: var(--white);

}
.geoLocation{
    cursor: pointer;
    border: none;
    transform: translateX(-35px);
    aspect-ratio: 1/1;
    width: 2.5ch ;
    transition:filter 00.25s ease-out;
}
.geoLocation:hover {
    transition:filter 00.25s ease-out;
    filter: saturate(1900%);
}


/* nav */
nav{
    display: grid;
    grid-template-columns: 10vw 40vw 30vw;
    justify-content:center;
    align-items: center;
    /* background-color: var(--background-dark); */
}

.header-links{
    display: grid;
    grid-template-columns:33% 33% 33% ;
    width: 100%;
}
.header-links li{
    list-style: none;
}
.header-links a{
    color: var(--color);
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px;

}


/* @keyframes ColorPalette {
	0% {
		color: var(--color);
	}
	25% {
		color: #e7b677;
	}
	50% {
		color: #43eb89;
	}
	75% {
		color: #79a6fa;
	}
	100% {
		color: var(--color);
	}
} */
.header-links a:hover{
    color: var(--color-light);
    
    /* animation-name: ColorPalette;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-timing-function: linear; */
}
header h2{
    color: var(--color);
}

.menu{
    cursor: pointer;
    display: none;
}
.menu div{
    width: 25px;
    height: 3px;
    border-radius: 3px;
    margin: 5px 20px 5px 20px ;
    background-color: var(--color);
}


@media screen and (min-width:1014px) {
    .mainBody{
        margin-top: 20px;
        margin: 30px;
        display: grid;
        grid-template-columns: 50% 50%;
        justify-self: center;
    }
    .cdLeft{
        width: 80%;
        justify-self: right;
    }
    .card{
        padding: 1vw;
        max-width: 65ch;
    
    }
    .card>h1{
        margin-bottom: 10px;
    }

}
@media screen and (max-width:1014px) {


    .mainBody{
        display: grid;
        justify-content: center;
        margin: 5px;
        margin-top: 10px;
    }
    .logo > img{
        width: 40px;
    }
    .logo:focus{
        outline:none !important;
    }
    .logo{
        padding: 10px 10px 10px 10px;
        display: flex;
        justify-content:end;
        align-items: center;
    }
    header h2{
        width: 90%;
        justify-content:left;
    }
    nav{
        display: flex;
        justify-content:center;
        align-items: center;
        /* background-color: var(--background-dark); */
    }
    body{
        overflow-x: hidden;
    }
    .header-links *{
        background-color:rgba(211, 30, 30, 0);
    }
    .header-links a{
        background-color:rgba(211, 30, 30, 0);
        color: var(--background);

    }
    .header-links{
        z-index: 999;
        position: absolute;
        right: 0px;
        height: 30vh;
        top: 15vh;
        background-color:var(--color);
        border-radius: 16px 0px 0px 16px ;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        width: 95%;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
    } 
    .header-links li{
        opacity: 0;

    }
    .menu{
        transition: transform 0.5s ease-in-out;
        display: block;
    }
    .searchBox{
        justify-content: center;
    }
    .menuLines{
        transition: 0.5s ease-in-out;
    }
    .menuLines:focus{
        outline:none !important;
    }


    
}

.header-active{
    transform: translateX(0%);
}
@keyframes headerLinkFade{
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}
.toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px);
    transition: transform 0.5s ease-in-out;
}
.toggle .line2{
    opacity: 0;
    
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px);
    transition: transform 0.5s ease;

}